<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sto1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Sto1.Properties.Settings>
            <setting name="Round1" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Что делают мужчины 8 марта?</string>
                        <string>Дарят цветы=100</string>
                        <string>Поздравляют=80</string>
                        <string>Убираются в доме=60</string>
                        <string>Готовят=40</string>
                        <string>Танцуют=20</string>
                        <string>Пьют=10</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Sto1.Properties.Settings>
    </userSettings>
</configuration>